@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Varela Round', system-ui, sans-serif;
  }
  @font-face {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  }
}

.box {
  box-shadow:
    27px 27px 54px #bebebe30,
    -27px -27px 54px #ffffff14;
}

* {
  margin: 0;
  padding: 0;
}
